name: Work Stats Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "* */6 * * *"

  push:
    branches:
    - master

jobs:
  update-readme:
    permissions:
      contents: write
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master 
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
